@media (max-width: 369px) {
  .section-adeptive {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 339px) {
  .section-adeptive {
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (max-width: 329px) {
  .section-adeptive {
    padding-left: 3px;
    padding-right: 3px;
  }
}
