body {
  background-color: var(--main-color-light-dt);
  color: var(--main-color-dark-dt);
}

#preloader {
  background-color: var(--main-color-light-dt);
  color: var(--main-color-dark-dt);
}

.navbar {
  background-color: rgba(255, 255, 255, 0);
  color: var(--main-color-dark-dt);
}

.nav-info::after {
  border: 1px solid var(--main-color-dark-dt);
}

/* ===============================
   Hero Section
================================*/

.hero-main {
  background-color: var(--main-color-light-dt);
  color: var(--main-color-dark-dt);
}

.ch::after {
  background-color: var(--main-color-dark-dt);
}
.ch::before {
  background-color: var(--main-color-dark-dt);
}

.hero-logo {
  fill: var(--main-color-dark-dt);
}

/* ===============================
   Base Section Styles
================================*/

.section {
  background-color: transparent;
  color: var(--basic-color-dark-dt);
}
.section-title {
  font-weight: 400;
  line-height: 80%;
}
.section-text {
  font-weight: 50;
  line-height: 110%;
}

.container_content-add {
  width: 100%;
  padding: 40px 10px;
}
.container_content-add-bg {
  background-color: var(--basic-color-light-dt);
  background: linear-gradient(
    180deg,
    var(--basic-color-light-dt) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

/* ===============================
  Section Special Form
================================*/

.section-specialform {
  padding: 0px;
}

.section-specialform .section-title,
.section-specialform .section-text {
  width: 100%;
  text-align: left;
}
.section-specialform .section-text {
  margin-bottom: 40px;
}
/* ===============================
  Input
================================*/
.input-container label {
  color: var(--main-color-dark-dt);
  font-weight: 400;
}
.text-input {
  color: var(--main-color-dark-dt);
  background-color: var(--add2-color-light-dt);
  caret-color: var(--add3-color-light-dt);
  font-weight: 400;
  transition: 0.3s;
  opacity: 0.6;
}
.text-input:hover {
  opacity: 1;
}
.radio-custom {
  border: 1px solid var(--add3-color-light-dt);
}
.radio-input:checked + .radio-custom {
  background-color: var(--add3-color-light-dt);
}
.form-button-send {
  font-weight: 400;
  margin-top: 40px;
  padding: 6px 10px;
  background-color: var(--add2-color-light-dt);
  transition: 0.3s;
}
.form-button-send:hover {
  opacity: 0.6;
}

/* ===============================
  Fotter
================================*/

.section-fotter {
  padding: 0;
}

.section-fotter .section-title,
.section-fotter .section-text {
  width: 100%;
  text-align: left;
}
.contact-info-s .section-text,
.section-text-a {
  font-size: clamp(18px, 3.2vw, 30px);
  font-family: "C", serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
.section-fotter .section-text {
  margin-bottom: 10px;
}
.section-text-a {
  display: block;
  margin-bottom: 6px;
  text-decoration: underline #ffffff25;
  opacity: 0.6;
  transition: 0.3s;
}
.section-text-a:hover {
  opacity: 0.9;
}

.contact-info-s:first-of-type {
  margin-bottom: 25px;
}
.section-fotter .section-text:last-of-type {
  margin: 0;
  padding: 0;
  margin-top: 25px;
}

/* Fotter Image*/
.section-fotter-image {
  padding: 0;
  position: relative;
  z-index: -1;
  background-color: var(--main-color-dark);

  justify-content: start;
  align-items: start;
}
.section-fotter-image .container_content {
  padding: 0;
  height: 100%;
}
.img-fotter {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-fotter-img {
  background-color: var(--main-color-light);
  width: 100%;
  aspect-ratio: 100 / 127;
  aspect-ratio: 100 / 140;
  object-fit: cover;
  max-height: 800px;
}

.img-fotter-text {
  position: absolute;
  z-index: 3;
  font-size: clamp(35px, 5vw, 63px);
  text-align: center;
  font-weight: 600;
  color: #0f0e0f;
  text-transform: uppercase;
  display: none;
}
.section-fotter-image {
  position: relative;
}
.img-fotter-img-bg {
  position: absolute;
  width: 100%;
  object-fit: cover;
  height: 100%;
  opacity: 0.035;
  filter: blur(5px);
}

/*Counter*/
.counter {
  position: absolute;
  color: var(--main-color-light);
  display: flex;
  flex-direction: column;
  top: 60%;
}
.counter-title {
  width: 100%;
  margin-bottom: 25px;
  font-size: clamp(14px, 2.34vw, 22.4px);
  text-align: center;
  font-weight: 100;
  font-family: "G", serif;
}
.counter-group {
  display: flex;
}
.counter-section {
  display: flex;
}
.counter-section:nth-child(1):after,
.counter-section:nth-child(4):before,
.counter-section:nth-child(3):before,
.counter-section:nth-child(2):after {
  content: "";
  width: 1px;
  height: 100%;
  background-color: var(--main-color-light);
  opacity: 0.3;
  margin: 0 10px;
}

.counter-section:nth-child(2):after {
  margin: 0 0 0 10px;
}
.counter-section:nth-child(3):before {
  width: 0px;
  margin: 0 10px 0 0;
}

.counter-section-conteiner {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.counter-section-time,
.counter-section-title {
  font-size: clamp(20px, 3.2vw, 30px);
  font-family: "C", serif;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  font-weight: 400;
}
.counter-section-title {
  font-size: clamp(11px, 2vw, 16px);
  opacity: 0.6;
}
.fotter-black-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.35;
}

.counter-group {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px;
  width: 100%;
  position: relative;
}
.counter-section {
  width: 100%;
  justify-content: center;
  align-items: center;
}
