html {
  width: 100%;
  height: 100%;
}
body {
  background-color: var(--main-color-dark);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#preloader {
  background-color: var(--main-color-dark);
  color: var(--main-color-light);
}

.access-error {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px;
  max-width: 700px;
}
.access-error__card {
  background-color: var(--main-color-light);
  padding: 16px;
  opacity: 0.3;
  transition: 0.8s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.access-error__card--ru {
  animation: animateBox1 3s;
}
.access-error__card--lv {
  animation: animateBox2 3s;
  margin-top: 41px;
}
@keyframes animateBox1 {
  0% {
    opacity: 0.3;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.3;
  }
}
@keyframes animateBox2 {
  0% {
    opacity: 0.3;
  }
  33% {
    opacity: 0.3;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
.access-error__card:hover {
  opacity: 1;
}

:root {
  --scale: 1.6;
  --scale1: 1;
}

.access-error__text {
  font-family: "Ci", serif;
  color: var(--main-color-dark);
  font-size: clamp(
    calc(14px * var(--scale1)),
    calc(2.34vw * var(--scale1)),
    calc(22.4px * var(--scale1))
  );
  width: 100%;
}
.access-error__title {
  font-family: "Ci", serif;
  margin-bottom: 10px;
  font-size: clamp(
    calc(14px * var(--scale)),
    calc(2.34vw * var(--scale)),
    calc(22.4px * var(--scale))
  );
  width: 100%;
}
